@import "variables.scss";
@import "promo.scss";
@import "header.scss";
@import "maincontent.scss";
@import "getintouch.scss";
@import "footer.scss";

@font-face {
  font-family: OpenSans;
  src: url("../FONTS/OpenSans-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: OpenSans;
}
.container{
  max-width: 940px;
  margin: 0 auto;
}
.border{
  background: rgb(230, 230, 230);
  width: 100%;
  height: 1px;
}
a {
  text-decoration: none ;
}
button {
  cursor: pointer;
}


